<div class="session-header color-6">
	<div onclick="openAside()" id="menu-btn"><i id="menu-bars" class="fa fa-bars"></i></div>
	<header>
		<h1>Monitor Info</h1>
		<p>Availability and contact</p>
	</header>
</div>
<section>
	<h1>Unit Monitor</h1>
	<p>Having some trouble to understand something on this unit? Don't worry, you have an monitor available to help you with any problems regarding the unit.</p>
	<h3>Availability</h3>
	<p>I'll be happy to help you via e-mail at any time, but we'll need to meet up to solve more complex problems. Here are my availability for a presence consultation:</p>
	<p><b>Thuesday</b> and <b>Thursday</b>, from 12:50 to 13:50.</p>
	<h3>Contact</h3>
	<p>I'll be available to anwser any questions of the unit on the e-mail: <b>andrebnf@gmail.com</b>.</p>
</section>