<div class="session-header color-1">
	<div onclick="openAside()" id="menu-btn"><i id="menu-bars" class="fa fa-bars"></i></div>
	<header>
		<h1>Web Development</h1>
		<p>Period - 01/2015</p>
	</header>
</div>
<section>
	<h1>Welcome!</h1>
	<p>This Website supports the practical activities of the <b>Web Development</b> unit, a course of University of São Carlos - Sorocaba Campus. This unit's coordinator is <b>Dr. Luciana Zaina</b>. </p>
	<h3>The tutorials</h3>
	<p>All the tutorials will be available for download on the step's page (feel free to navigate on it from the left panel, or click the menu button on the top of the page if you're on a mobile phone).</p>
	<p>Although we'll be covering a lot of topics here, the main teaching project (the Ride Share App) will be developed using JSP (Java Server Pages).</p>
	<p>Don't be afraid. There are plenty of cool things to do! So get started and check out the <b>Articles</b> and the <b>Ride App Tutorials</b> sections!</p>
	<h3>Monitor Info</h3>
	<p>There is a monitor for this unit. Check out the info you need to know about him on the <b>Monitor Info</b> section. There will also be a present monitoring for the unit, where the monitor will help the students on any unit's subject (check the monitoring timetable on the Monitor section).</p>

</section>