<div class="session-header color-4">
	<div onclick="openAside()" id="menu-btn"><i id="menu-bars" class="fa fa-bars"></i></div>
	<header>
		<h1>Step 5 - Ajax &amp; jQuery</h1>
		<p>Asynchronous requests</p>
		<!-- <div class="header-control">
      <div id="primary-download" class="round-btn" onclick="showDownloadOptions(this)"> 
        <img src="./img/download.svg" alt="download-svg">
      </div>
      <div class="round-btn sub-btn">
        <a href="./downloads/RideShare_step_4_servlet_BASE.zip" onmouseover="showDownloadTooltip(this.parentNode)" onmouseout="hideDownloadTooltip(this.parentNode)">
          <i class="fa fa-file-code-o"></i>
        </a>
        <p class="tooltip">Base Code</p>
      </div>
      <div class="round-btn sub-btn">
        <a href="./downloads/RideShare_step_4_servlet_SOLVED.zip" onmouseover="showDownloadTooltip(this.parentNode)" onmouseout="hideDownloadTooltip(this.parentNode)">
          <i class="fa fa-file-zip-o"></i>
        </a>
        <p class="tooltip">Solved Tutorial</p>
      </div>
    </div> -->

	</header>
</div>

<section>
	<h3>Table of Contents</h3>
	<div class="summary">
		<ul>
      <li> <a data-scroll="intro" onclick="gotoSection(this)"><i class="fa fa-chevron-right"></i> Ajax Intro</a></li>
      <li>
        <ul>
          <li><a data-scroll="jqajax" onclick="gotoSection(this)"><i class="fa fa-chevron-right"></i> Ajax with jQuery</a></li>
          <li><a data-scroll="how" onclick="gotoSection(this)"><i class="fa fa-chevron-right"></i> How does Ajax Work</a></li>
        </ul>
      </li>
      <li> <a data-scroll="using" onclick="gotoSection(this)"><i class="fa fa-chevron-right"></i> Using Ajax on RideShare</a></li>
      <li> <a data-scroll="how" onclick="gotoSection(this)"><i class="fa fa-chevron-right"></i> How does Ajax Work</a></li>
		</ul>
	</div>
</section>
  
<section>
  <h2 id="intro">Ajax Intro</h2>
  <p>Ajax stands for asynchronous JavaScript and XML and it can perform an action on a servlet without having to fully reload the complete page.</p>
  <p>Ajax is almost an essencial tool for User Experience improvements on static interfaces. On our example App, we want to load a set of cities depending on what state the user lives in. Without having an asynchronous request, we would have to implement another form, where - after signed up - the user would choose the city.</p>

  <h3 id="jqajax">Ajax with jQuery</h3>
  <p>jQuery makes it easy to implement Ajax functions, since it abstracts most of the JavaScript that does the hard work, so we will use it for this tutorial.</p>

  <h3 id="how">How does Ajax Work</h3>
  <p>When an Ajax function is triggered, the servlet - which we specify on the function - is called by the browser to perform certain action. The servlet doesn't know it's an Ajax and it doesn't have to: after all, the client is just requesting something on the server-side and expecting some data back.</p>
  <p>So, we can start programming the Ajax request, or we can start from the servlet which will respond to such request.</p>
</section>

<section>
  <h2 id="using">Using Ajax on RideShare</h2>
  <p>On this tutorial, we will start by programming the servlet.</p>

  <h3 id="servlet">The Servlet</h3>
  <p>First, let's create a new servlet (like we did on our previous tutorial). This time, let's name it <b>SearchCity</b> and let's also group it under the controllers' package.</p>
  <p>Obs: don't forget to check the option <b>Add information to deployment descriptor (web.xml)</b>, exactly like we did before.</p>
</section>